In [138]:
import pandas as pd
import numpy as np

In [139]:
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
%matplotlib inline

In [140]:
df = pd.read_csv('csv/badf.head()nkloan.csv')

In [142]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [143]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [149]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [11]:
df.drop('Loan_ID', axis=1, inplace=True)

In [12]:
df['Loan_Status'].value_counts()

Y    332
N    148
Name: Loan_Status, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()

In [11]:
l.fit_transform(df['Loan_Status'])

array([0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [14]:
X = pd.get_dummies(df.drop('Loan_Status', axis=1,), drop_first  = True)

In [15]:
y = l.fit_transform(df['Loan_Status'])

In [18]:
from imblearn.over_sampling import SMOTE

In [19]:
from sklearn.preprocessing import MinMaxScaler

## Using SMOTE to over_sample

In [20]:
smote = SMOTE(sampling_strategy='minority')

In [21]:
X1,y = smote.fit_sample(X,y)

## Scaling the values

In [22]:
minmax = MinMaxScaler()

In [23]:
X = minmax.fit_transform(X1)

In [24]:
from collections import Counter

In [25]:
Counter(y)

Counter({0: 332, 1: 332})

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2, shuffle = True)

In [28]:
from keras import Sequential
from keras.layers import Dense

In [113]:
clf = Sequential()

In [114]:
clf.add(Dense(200, activation='relu', kernel_initializer='random_normal', input_dim=X_test.shape[1]))
clf.add(Dense(400, activation='relu', kernel_initializer='random_normal'))
clf.add(Dense(4, activation='relu', kernel_initializer='random_normal'))
clf.add(Dense(1, activation='sigmoid', kernel_initializer='random_normal'))

In [115]:
clf.compile('adam','binary_crossentropy',['accuracy'])

In [116]:
clf.fit(X_train, y_train, batch_size=20, epochs=100, verbose=0)
clf.evaluate(X_train, y_train)

531/531 [==============================] - 0s 228us/step

[0.2738651863935977, 0.8832391500473022]

In [133]:
y_pred = clf.predict(X_test)
y_pred = (y_pred>.33)

In [134]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[49, 24],
       [ 5, 55]], dtype=int64)

In [135]:
import pickle as p

In [158]:
from joblib import dump, load
dump(clf, 'loan_model.pkl')

['loan_model.pkl']

In [159]:
x = load('C:/Users/bhush/Python/loan_model.pkl')

In [160]:
x